<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="col-sm-8">

    <%= form.label :city %><br>
    <%= form.text_area :city %><br>

    
  <h4>Select2</h4>

    <select class="country"
                    multiple="true"
                    style="width: 200px;" <%= form.text_area :city %>>
                <option value="1">India</option>
                <option value="2">Japan</option>
                <option value="3">France</option>
            </select>
            <br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>


        <!--These jQuery libraries for 
           chosen need to be included-->
        <script src=
"https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
        </script>
        <link rel="stylesheet" 
              href=
"https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />
  
        <!--These jQuery libraries for select2 
            need to be included-->
        <script src=
"https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js">
       </script>
        <link rel="stylesheet" 
              href=
"https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
        <script>
            $(document).ready(function () {
                //Select2
                $(".country").select2({
                    maximumSelectionLength: 3,
                });
                //Chosen
                $(".country1").chosen({
                    max_selected_options: 1,
                });
            });
        </script>